@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
.top-nav{
    display: flex;
    justify-content: space-around;
    font-size: 12px;
    margin-top: 2%;
    height: 6.5vh;
}
ul{
    display: flex;
    list-style-type: none;
    margin-left: 4%;
}
.navigation{
    display: flex;
}
input{
    position: absolute;
    width: 20%;
    margin-left: -7%;
    height: 5vh;
    border: 0.5px solid #4f4f4f;
    border-radius: 5px;
}
/* .search{
    display: flex;
} */
.serach-icon{
    position: absolute;
}
.nav{
    display: flex;
    flex-direction: column;
    padding-left: 1em;
}
.nav-icon{
    width: 30%;
    height: 2vh;
    margin-left: 35%;
}
.bottom-nav li{
    font-size: 10px;
    margin-left: 4%;
}
.card{
    position: absolute;
    background: #ffffff;
    border: none;
    border-radius: 5px;
    width: 23%;
    height: 33vh;
    padding-left: 1.5em;
    margin-top: -35%;
    margin-left: 8%;
}
.proceed{
    background: #000000;
    color: #ffffff;
    height: 7vh;
    width: 80%;
    border: none;
    border-radius: 5px;
}
.background-image{
    height: 80vh;
    width: 100%;
}
.heading{
    font-weight: 600;
    font-size: 20px;
}
i{
    color: #f4811f;
    font-weight: bold;
}
.arrow{
    margin-left: 10%;
}
p{
    font-size: 14px;
}
.sub-heading{
    margin-left: 8%;
    display: flex;
}
.link{
    color: #f4811f;
    margin-top: 1.5%;
    margin-left: 2%;
}
.space p {
    margin-left: 8%;
}
.apartments, .lights{
    display: flex;
    margin-left: 7%;
}
.apartment, .light, .price{
    margin-left: 1%;
}
.apartment-button{
    position: absolute;
    margin-top: 15%;
    margin-left: -25%;
    background: #ffffff;
    color: #f4811f;
    width: 10%;
    height: 5vh;
    border: none;
    border-radius: 5px;
}
.category-button{
    position: absolute;
    margin-top: 27%;
    margin-left: -38%;
    background: #ffffff;
    color: #f4811f;
    width: 12%;
    height: 6vh;
    border: none;
    border-radius: 5px;  
}
.products, .on-sale{
    background: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 1em;
    width: 82%;
    box-shadow: 0px 0px 44px rgba(0,0,0,0.1);
    margin-left: 10%;
    margin-top: 2%;
}
.products-heading{
    display: flex;
    margin-left: 5%;
}
.top, .bottom{
    display: flex;
    margin-left: 4%;
}
.mailing{
    width: 82%;
    margin-left: 10%;
    margin-top: 3%;
    display: flex;
    height: 35vh;
}
.left{
    background: #f2f2f2;
    padding: 1.5em;
    width: 50%;
}
.input{
    width: 30%;
    background: none;
    border: none;
    margin-top: -1%;
    margin-left: 0;
}
.subscribe{
    height: 6vh;
    width: 20%;
    background: #000000;
    color: #ffffff;
    border: none;
    border-radius: 5px;
}
.hr{
    width: 40%;
    margin-left: 0;
    margin-top: 6%;
}
.mail-heading{
    display: flex; 
}
.mail-heading h6{
    margin-top: -.3%;
    margin-left: 1%;
    font-size: 18px;
    font-weight: bold;
}
.left p{
    margin-top: -1%;
}
.mail-icon{
    height: 3vh;
}
.mail-image{
    width: 100%;
    height: 35vh;
}
.footer{
    display: flex;
    background-color: #333333;
    color: #ffffff;
    padding: 1em;
    margin-top: 3%;
}
.one, .two, .three, .four{
    margin-left: 7%;
    font-weight: lighter;
}
.footer-top{
    display: flex;
    height: 5vh;
}
.footer p{
    font-size: 12px;
    font-weight: 200;
}
.orange{
    color: #f4811f;
}
.bold{
    font-weight: bold;
}
.yellow{
    height: 60%;
    margin-top: 10%;
}
.info{
    padding: .3em;
}
.up{
    margin-top: -3%;
}
.buttons{
    margin-top: 15%
}
.contact{
    display: flex;
    background: #000000;
    color: #ffffff;
    height: 5vh;
}
.details{
    display: flex;
    margin-left: 8%;
}
.contact-icon{
    height: 2.3vh;
    margin-top: 3%;
    padding: .5em;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
    body{
        overflow-x: hidden;
    }
    .navigation{
        margin-left: 12%;
    }
    .logo{
        width: 15%;
    }
    .search{
        margin-top: 2%;
    }
    .bottom-nav{
        margin-left: -20%;
    }
    ul{
        display: flex;
        margin-left: 7%;
        flex-wrap: wrap;
    }
    .background-image{
        display: none;
    }
    .card{
        position: absolute;
        box-shadow: 0px 0px 44px rgba(0,0,0,0.1);
        margin-left: 4%;
        padding: 1.5em;
        width: 70%;
        height: 40vh;
        margin-top: 0;
    }
    .proceed{
        height: 8vh;
        width: 90%;
    }
    .space{
        margin-top: 100%;
    }
    .link{
        margin-top: 6%;
        margin-left: 3%;
    }
    .apartments, .lights{
        flex-direction: column;
    }
    .apartment-image{
        width: 100%;
    }
    .apartment-button{
        margin-top: 45%;
        margin-left: -85%;
        width: 30%;
    }
    .category-image{
        width: 100%;
    }
    .category-button{
        margin-top: 45%;
        margin-left: -80%;
        width: 35%;
    }
    .top, .bottom{
        flex-direction: column;
    }
    .mailing{
        width: 92%;
        margin-top: 5%;
        height: 70vh;
    }
    .hr{
        width: 80%;
        margin-top: 60%;
    }
    .subscribe{
        width: 100%;
    }
    .mail-image{
        height: 70vh;
    }
    .input::placeholder{
        padding-left: 1.5em;
    }
    .footer{
        flex-direction: column;
    }
    .contact{
        display: none;
    }
}
@media only screen and (min-width: 320px) and (max-width: 359px) {
    .card{
        height: 48vh;
    }
    .space{
        margin-top: 110%;
    }
    .products, .on-sale{
        margin-left: 5%;
        width: 88%;
    }
    .mailing, .mail-image{
        margin-left: 5%;
        height: 75vh;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1024px){
    .bottom-nav{
        margin-left: -10%;
    }
    .background-image{
        display: block;
    }
    .card{
        height: 30vh;
        margin-left: 9%;
        margin-top: -90%;
        width: 40%;
        height: 25vh;
    }
    .space{
        margin-top: 0;
    }
    .link{
        margin-top: 3%;
    }
    .mailing{
        margin-left: 7%;
        height: 35vh;
    }
    .hr{
        margin-top: 30%;
    }
    .input::placeholder{
        padding-left: 4em;
    }
    .mail-image{
        height: 35vh;
    }

}